/*Colors*/
$bg-color:#eef2f7;
$color-secondary: #c59d5f;
$color-primary: #2c2822;

/*fonts*/
$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1rem;
$font-text:0.8rem;

/*line height*/
$body-line-height: 1.5rem;
$h-line-height:1.25rem;

/*margin-bottom*/
$h-margin-bottom:0.75rem;
$p-margin-bottom:1.25;